<ion-view title="JobListing-Detail">
  <ion-header-bar align-title="center" no-tap-scroll=true class="bar-positive">
    <div class="buttons">
      <button class="button button-icon button-clear ion-android-arrow-back" ng-click="returnList()"></button>
    </div>
    <h1 class="title" ng-bind="title">Collection <Booking No></h1>
  </ion-header-bar>
  <ion-pane>
    <div style="height: 43px;"></div>
    <div class="card">
      <div class="button-bar">
        <a class="button" ng-href="tel:08605925888865">
                    CALL
                </a>
        <!-- <button class="button" ng-click="showActionSheet()">
          CALL
        </button> -->
        <button class="button">
          MAP
        </button>
        <button class="button">
          CAMERA
        </button>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Box No" ng-model="csbk2.BoxNo" ng-readonly="true">
        </label>
        <button class="button icon ion-android-refresh">
        </button>
      </div>
      <div class="row item item-divider">
        <div class="col">
          Box Size
        </div>
        <div class="col">
          No Of Boxes
        </div>
        <div class="col">
          Collected
        </div>
      </div>
      <div class="item item-text-wrap">
        <ion-item class="item" ng-repeat="Csbk2s in Csbk2">
          <div class="row" style="height:1px;">
            <div class="col" style="height:1px;">
              <!-- JU MBO -->
              <p><span ng-bind="Csbk2s.BoxCode"></span></p>
            </div>
            <div class="col" style="height:1px;">
              <!-- 11 -->
              <p><span ng-bind="Csbk2s.Pcs"></span></p>
            </div>
            <div class="col" style="height:1px;">
              <!-- 22 -->
              <p><span ng-bind="Csbk2s.CollectedPcs"></span></p>
            </div>
          </div>
        </ion-item>
        <!-- <div class="row">
          <div class="col">
            XXL
          </div>
          <div class="col">
            2
          </div>
          <div class="col">
            1
          </div>
        </div> -->
        <!-- <div class="row">
          <div class="col">
            &nbsp;
          </div>
          <div class="col">
            &nbsp;
          </div>
          <div class="col">
            &nbsp;
          </div>
        </div> -->
      </div>
      <div>
        <button class="button button-block button-calm">
          Add Box
        </button>
      </div>
      <div>
        <div class="row">
          <div class="col">
            Deposit
          </div>
          <div class="col">
            <p><span ng-bind="csbk2.Deposit"></span></p>
          </div>
          <div class="col">
            Balance
          </div>
          <div class="col">
            <p><span ng-bind="csbk2.AllBalance"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Discount
          </div>
          <div class="col">
            <p><span ng-bind="csbk2.Discount"></span></p>
          </div>
          <div class="col">
            Collected
          </div>
          <div class="col">
            <p><span ng-bind="csbk2.Collected"></span></p>
          </div>
        </div>
      </div>
    </div>
  </ion-pane>
  <ion-footer-bar class="bar-positive ">
    <div class="button-bar">
      <button class="button icon ion-android-done" ng-click="gotoConfirm()">
        &nbsp;OK
      </button>
      <button class="button icon ion-arrow-return-right" ng-click="returnList()">
        &nbsp;Cancel
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
